<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width,user-scalable=yes, initial-scale=0.1,maximum-scalable=3.0,minimum-scalable=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'styles/pop.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/info.css' %}">
    <title>informacion</title>
</head>

<body>
    <!--inicio del menu-->
    <header id="index">
        <nav>
            <div class="menu">
                <ul class="container menu_principal">
                    <li class="contet_shop">
                        <i class="fas fa-shopping-cart icon_responsive "></i>
                        <div class="">0</div>
                    </li>
                    <li class="contet_user">
                        <a href="{% url 'usuario' %}"></a><i class="fas fa-user-circle icon_responsive "></i></a>
                    </li>
                    <li class="content_logo"><img src="{% static 'img/iconos/logo_box_header.svg' %} " alt="Logo " class="Logo"></li>
                    <li class="menu_nav"><i class="fas fa-bars icon_responsive "></i></li>
                </ul>
                <ul class="menu_submenu">
                    <li class="">
                        <a href="{% url 'casa' %} " class="text_title-header" id="inicio ">Inicio</a>
                    </li>
                    <li class="items_principals">
                        <p class="text_title-header " id="0" value="1">Categorias</p>
                        <ul class="menu_submenu-items" id="sub_cat">
                            <li class="items"><a class="">Accion</a></li>
                            <li class="items"><a class="">Comedia</a></li>
                            <li class="items"><a class="">Dramatica</a></li>
                            <li class="items"><a class="">Romantica</a></li>
                            <li class="items"><a class="">Terror</a></li>
                            <li class="items"><a class="">Horror</a></li>
                            <li class="items"><a class="">Musicales</a></li>
                            <li class="items"><a class="">Aventura</a></li>
                            <li class="items"><a class="">Crimen</a></li>
                            <li class="items"><a class="">Fantasia</a></li>
                        </ul>
                    </li>
                    <li class="items_principals">
                        <p class="text_title-header" id="1" value="2">Servicios</p>
                        <ul class="menu_submenu-items" id="">
                            <li class="items"><a class="">Promociones</a></li>
                            <li class="items"><a class="">Atencion al cliente</a></li>
                        </ul>

                    </li>
                    <li class="opc_principals"><a href="" class="text_title-header" id="q_s ">¿Quienes somos?</a></li>
                </ul>

            </div>
        </nav>
    </header>
<!--Contenido primario-->
<!--Informacion principal-->

<div class="content">
    <img class="fondo-primario" src="{% static 'img/fondos/peliculas/normal/26nyeon.png' %}" alt="Fondo">
    <div class="estado"><span id="estado_pel">En cartelera</span></div>

    <img class="portada" src="{% static 'img/portadas/26-years.jpg' %}" alt="Portada">
</div>
<!-- Interaccion con la informacion -->
<div class="box_interaccion">
    <div class="content_interaccion">
        <button class="btn_interaccion" id="lista"><i class="fas fa-list"></i></button>
        <button class="btn_interaccion" id="MeGusta"><i class="fas fa-thumbs-up"></i><span class=""> 0</span>%</button>
        <button class="btn_interaccion" id="NoMeGusta"><i class="fas fa-thumbs-down"></i><span id="p_nm"> 0</span>%</button>
    </div>
</div>
<!--listas para guardar-->
<div class="container_list">
    <div class="list">
        <div class="caja_list-1">
            <h2>Guardar en :</h2>
            <button id="agregar">Agregar lista  <i class="fas fa-plus-square"  id="btn_list"></i></button>

        </div>
        <ul class="lista_guardar">
            <li class="lista_guardar-items">
                <div class="lista_btn-text">Favorito<i class="fas fa-heart  icon-list_btn"></i></div>
            </li>
            <li class="lista_guardar-items">
                <div class="lista_btn-text">Ver Mas tarde
                    <i class="far fa-square icon-list_btn"></i></div>
            </li>
        </ul>
        <div class="btn_list-listo ">
            <i class="fas fa-check "></i>listo
        </div>
    </div>
</div>
<!--boton subir-->
<div class="content-button_arriba ">
    <div class="button_arriba "><i class="fas fa-arrow-up "></i></div>
</div>
<!--Contenido Secundario-->
<!--descripcion de la pelicula-->
<div class="content_resumen">
    <div class="content_column">
        <h1 class="subtitulo">CAST</h1>
        <div class="overflow">
            <ul class="container--grid">
                <li class="des_artistas "><a href="#">Jin Goo</a></li>
                <li class="des_artistas "><a href="#">Han Hye-jin</a></li>
                <li class="des_artistas "><a href="#">Im Seul-ong</a></li>
                <li class="des_artistas "><a href="#">Bae Soo-bin</a></li>
                <li class="des_artistas "><a href="#">Lee Kyung-young</a></li>
            </ul>
            <ul class="container--grid">
                <li class="des_artistas "><a href="# ">Gwak Jin-bae</a></li>
                <li class="des_artistas "><a href="# ">Shim Mi-jin</a></li>
                <li class="des_artistas "><a href="# ">Gwon Jeong-hyeok</a></li>
                <li class="des_artistas "><a href="# "> Kim Ju-an</a></li>
                <li class="des_artistas "><a href="# "> Kim Gap-se</a></li>
            </ul>
        </div>
        <button id="pasar"><i class="fas fa-angle-left dis_i " ></i></button>
        <button id="regresar"><i class="fas fa-angle-right dis_i "></i></button>
        <div class="overflow_view">
            <h2 class="subtitulo">SINOPSIS</h2>
            <p class="descripcion_text">Hace 26 años, las tropas estatales recibieron la orden de abrir fuego contra civiles de la ciudad de Gwangju que se manifestaban como parte de un movimiento democrático. Miles de ellos fueron asesinados. Ahora, un equipo de personas decide
                involucrarse en un plan para condenar a la persona responsable de la masacre.</p>
        </div>
    </div>
</div>
<div class="content_informacion ">
    <button class="informacion-btn_tra btn_activado" value="1">Trailer:</button>
    <button class="informacion-tra" value="2">Valoracion:</button>

    <div class="informacion-trailler">
        <iframe class="triller " src="https://www.youtube.com/embed/vcVce8AqgCY " title="26 Years " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
    </div>
    <!--seccion aprovacion-->
    <div class="informacion-aprovacion">
        <div class="font--30"><span id="valor_cal ">0</span>%</div>
        <div class="estrellas">
            <button class="btn_estrellas " name="1 "><i class="fas fa-dizzy "></i></button>
            <button class="btn_estrellas " name="2 "><i class="fas fa-sad-tear "></i></button>
            <button class="btn_estrellas " name="3 "><i class="fas fa-meh "></i></button>
            <button class="btn_estrellas " name="4 "><i class="fas fa-grin-alt "></i></button>
            <button class="btn_estrellas " name="5 "><i class="fas fa-grin-stars "></i></button>
        </div>
        <div class="descripcion_apr ">
            <label class="informacion_descripcion"> MUY MALO</label>
            <label class="informacion_descripcion"> MALO</label>
            <label class="informacion_descripcion"> REGULAR</label>
            <label class="informacion_descripcion">BUENO</label>
            <label class="informacion_descripcion"> EXCELENTE</label>
        </div>
    </div>

    <div class="informacion_pelicula">
        <p class="titulo_pel ">Genero:
            <h2 id="genero "></h2>
        </p>
        <p class="titulo_pel ">Fecha:
            <h2 id="fecha "></h2>
        </p>
        <p class="titulo_pel ">Duracion:
            <h2 id="duracion "></h2>
        </p>
        <p class="titulo_pel ">Director:
            <h2 id="director "></h2>
        </p>
        <p class="titulo_pel ">clasificacion:
            <h2 id="director "></h2>
        </p>
        <p class="titulo_pel ">compañia:
            <h2 id="director "></h2>
        </p>
    </div>
</div>

<div class="container_car">
    <div id="carrito"><i class="fas fa-cart-plus"></i>Agregar al carrito</div>
</div>


<!--Comentarios de la pagina-->
<div class="content_comentario">
    <div class="comentario_container">
        <input id="comentarios" type="text " placeholder="hacer un comentario ">
        <h4 class="title_com ">Comentarios</h4>
        <h5 class="title_com " id="subtitle_com ">Mas relevantes:</h5>
        <div class="comentario_comentar ">
            <i class="fas fa-user-circle icon_responsive"></i>
            <p class="usuario_com ">User 1</p>
            <p class="comentario ">Me encanto la pelicula es muy buena</p>
            <p class="fecha_com ">Fecha:<span>10/05/21</span></p>
            <p class="hora_com ">hora:<span>21:15</span></p>

        </div>
        <div class="comentario_comentar ">
            <i class="fas fa-user-circle icon_responsive"></i>
            <p class="usuario_com ">User 1</p>
            <p class="comentario ">Me encanto la pelicula es muy buena</p>
            <p class="fecha_com ">Fecha:<span>10/05/21</span></p>
            <p class="hora_com ">hora:<span>21:15</span></p>

        </div>
        <div class="comentario_comentar ">
            <i class="fas fa-user-circle icon_responsive"></i>
            <p class="usuario_com ">User 1</p>
            <p class="comentario ">Me encanto la pelicula es muy buena</p>
            <p class="fecha_com ">Fecha:<span>10/05/21</span></p>
            <p class="hora_com ">hora:<span>21:15</span></p>

        </div>
        <button class="ver_com ">Ver mas</button>
    </div>
</div>

<!--Modal-->
<div class="contentVentanaE">
    <button id="salir">X</button>
    <div class="libro_r">
        <h2>Enviar Solicitud</h2>
        <form>
            <h3>Correo electrónico</h3>
            <h1 class="input_personality">example@gmail.com</h1>
            <input type="email" class="medida_in entrada_f" onfocus="entrada();" required>
            <h3>Tipo de documento</h3>
            <select class="Documento">
                <option >Seleccionar</option>
                <option value="DNI">DNI</option>
                <option value="CE">CE</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
            <p>Seleccione el tipo de documento</p>
            <h3>Número de Documento</h3>
            <h1 class="input_personality">Ingrese numero</h1>
            <input type="text" class="medida_in entrada_f" onfocus="entrada();" required>
            <p>Escriba el número de documento</p>
            <h3>Fecha</h3>
            <input type="date" class="date" required>
            <p>Fecha del reclamo</p>
            <h3>Nombres y apellidos</h3>
            <input type="text" placeholder="Ingrese nombre" class="col_NA" required>
            <input type="text" placeholder="Ingrese apellido " class="col_NA" required>
            <p>Nombres y apellidos completos del tarjeta habiente</p>
            <h3>Domicilio del consumidor</h3>
            <input type="text" placeholder="Direccion" class="medida_in entrada_f" required>
            <p>Agregue domicilio del consumidor</p>
            <h3>Teléfono de contacto</h3>
            <input type="tel" placeholder="Ingrese telefono" class="medida_in entrada_f" required>
            <h3>Cine</h3>
            <input type="text" placeholder="Ingrese cine" class="medida_in entrada_f" required>
            <p>Cine seleccionado en la compra</p>
            <h3> Motivo</h3>
            <input type="text" placeholder="Ingrese El movivo del reclamo" class="medida_in entrada_f">
            <h3>Servicio o Producto</h3>
            <input type="text" placeholder="Ingrese Servicio" class="medida_in entrada_f" required>
            <h3>Monto(S/)</h3>
            <input type="number" placeholder="Ingrese monto" class="medida_in entrada_f">
            <h3>Asunto</h3>
            <input type="text" placeholder="Ingrese Asunto" class="medida_in entrada_f" required>
            <h3>Reclamo o Queja</h3>
            <select class="Documento">
                <option>Seleccionar</option>
                <option value="Queja">Queja</option>
                <option value="Reclamo">Reclamo</option>
            </select>
            <h3>Descripción</h3>
            <textarea id="anuncio"></textarea>
            <p>Ingrese los detalles de esta solicitud. Un integrante de nuestro personal de soporte responderá en breve.</p>
            <h3>Pedido</h3>
            <input type="text" placeholder="Ingrese Pedido" class="medida_in entrada_f" required>
            <h6>Me encuentro conforme con los términos consignados en el contenido de mi disconformidad (queja / reclamacion)</h6>
            <input type="checkbox" class="check" required>
            <h6>Disclaimer</h6>
            <input type="checkbox" class="check" required>
            <p>Mediante la presentación de mi disconformidad (queja / reclamo) a través del presente Libro de Reclamaciones Virtual, otorgo mi consentimiento y autorizo expresamente a <span class="cine"></span> del Perú S.R.L. a realizar el tratamiento (recolección,
                almacenamiento, procesamiento, transmisión y uso) de mis datos personales proporcionados, con la finalidad que se le brinde oportuna atención. En cualquier circunstancia, el tratamiento de los datos se encontrará protegido y su acceso
                estará limitado a aquellas personas debidamente autorizadas para manejarlos, quienes lo realizarán respetando todas las condiciones de seguridad y confidencialidad que establece la normativa de la materia.</p>
            <p>Archivos adjuntos</p>
            <div><input type="file" class="texture_bt_file"></div>

            <br>
            <button class="enviar">Enviar</button>
        </form>
    </div>

    <div class="politica">
        <div class="informacion"></div>
        <h1 class="title_v">Aviso de Privacidad de <span class="cine"></span></h1>
        <h1>1. Contenido de los Datos Personales</h1>
        <p>
            De acuerdo con la Ley, se entiende como “Datos Personales” cualquier información concerniente a una persona física identificada o identificable. Para efectos del presente Aviso de Privacidad, de manera enunciativa mas no limitativa, se entenderán como
            “Datos Personales”:</p>
        <h1>1.1. Datos generales
        </h1>
        <p>Nombre(s) y apellidos, fecha de nacimiento, edad, sexo, estado civil, número de hijos, domicilio, teléfono fijo (de casa u oficina), teléfono celular, correo electrónico, y los datos e información que conforme a la Ley sean concernientes a una
            persona física identificada o identificable.
        </p>
        <h1>1.2. Datos relacionados con solicitudes de empleo</h1>
        <p>Cuando ingreses o proporciones Datos Personales en o para la bolsa de trabajo de <span class="cine"></span>®, además de los datos generales, se considerarán Datos Personales la información sobre nivel educativo, experiencia laboral y cualquier
            información relacionada con el currículum vitae que nos envíes. En virtud de lo anterior, <span class="cine"></span>® hace de tu conocimiento que cualquier vacante de trabajo disponible será publicada a través de la plataforma en línea, a
            través de la cual los interesados podrán postularse a través de un registro en línea, por lo que cualquier Dato Personal referente a solicitudes de empleo que usted entregue a <span class="cine"></span>®, será tratado conforme al Aviso de
            Privacidad publicado en esta plataforma en línea propiedad de <span class="cine"></span>®.</p>
        <h1>1.3. Revistas y transacciones en línea</h1>
        <p>Al momento de que nos proporciones tus datos bancarios en cualquiera de nuestros medios de venta o comercialización de los productos y/o servicios de <span class="cine"></span>®, se entenderá que desde ese momento estás otorgando tu consentimiento
            expreso para que <span class="cine"></span>® pueda realizar el tratamiento de dichos datos personales conforme a las finalidades del tratamiento establecidas en el numeral 4 inciso B) del presente Aviso de Privacidad.
        </p>
        <h1>1.4. Datos de menores de edad
        </h1>
        <p>Las páginas de <span class="cine"></span>®, los sitios y micrositios en ellas contenidos, los formatos de inscripción a cualquiera de nuestros programas o servicios, así como la recopilación de información que tenga como fin el llevar a cabo cualquiera
            de las finalidades establecidas en el presente Aviso de Privacidad no fueron diseñadas para el uso de niños menores de 10 años de edad. Nosotros no solicitamos información en línea, ni comercializamos u ofertamos productos o servicios en línea,
            a niños menores de 10 años de edad. Es responsabilidad de los titulares menores de edad contar con autorización de los Tutores para que <span class="cine"></span>® dé tratamiento a sus datos. Siendo el caso de que si, por error, obtenemos
            Datos Personales de niños menores de 10 años de edad, eliminaremos esa información de nuestros sistemas. En caso de que por alguna actividad o evento específico, se llegaren a recopilar datos personales de niños menores de 10 años, previo
            a la recopilación de información, <span class="cine"></span>® dará aviso, a través del presente aviso, a los menores y/o a sus padres o tutores informándoles de las finalidades específicas del tratamiento al que serán sometidos, así mismo,
            se dará cumplimiento a lo establecido en el siguiente párrafo.
        </p>
    </div>
    <div class="Termino-condiciones">
        <h1 class="title_v">Términos y Condiciones</h1>
        <p>Al acceder a esta página, usted reconoce haber leído y entendido sus contenidos y manifiesta estar de acuerdo con los mismos. El contenido de esta página, así como sus actualizaciones, son propiedad exclusiva de <span class="cine"></span> de Perú,
            S.A. de C.V. y se encuentran protegidos por las leyes del Estados , así como por el Derecho Internacional. El contenido de este sitio, sólo debe ser usado como un recurso más de publicidad e información y, en su caso, de la compra de bienes
            y servicios que comercializan <span class="cine"></span> de Perú, S.A. de C.V. o sus empresas subsidiarias, filiales o asociadas. Cualquier uso, incluyendo los publicitarios, republicación, exhibición, ejecución o comercialización del contenido
            de este sitio, incluyendo las marcas o avisos comerciales, en alguna red de cómputo o página de Internet se encuentra estrictamente prohibido sin el previo consentimiento que conste por escrito de
            <span class="cine"></span> de Perú, S.A. de C.V.
        </p>
        <h3>Las marcas <span class="cine"></span>®, <span class="cine"></span> VIP®, <span class="cine"></span> IMAX®, <span class="cine"></span> Digital®, Macro XE®, 4DX®, Xtreme®, Mi Cine <span class="cine"></span>® Diversión a tu Alcance®,CinemaStar®,
            Cineticket®,
        </h3>
        <p>así como todas y cada una de las marcas que forman parte de los productos y servicios englobados en el concepto comercialmente conocido como <span class="cine"></span>® y sus diferentes diseños se encuentran debidamente registrados y licenciados
            a favor de
            <span class="cine"></span> de Perú, S.A. de C.V., por lo que su uso total o parcial está estrictamente prohibido y sujeto a las penas establecidas en las leyes aplicables.</p>
        <p>Todo el diseño de este sitio, el contenido, incluyendo sus gráficos, fotografías, textos, información y el programa de cómputo asociado, son derechos reservados y exclusivos de <span class="cine"></span>de Perú, S.A. de C.V., con domicilio en
            <span class="Direccion"></span>.</p>
        <p>La información contenida en este portal es sólo enunciativa, por lo que de ninguna manera constituye una oferta vinculante que obligue al usuario y a <span class="cine"></span> de Perú, S.A. de C.V., o sus empresas subsidiarias, filiales o asociadas,
            a celebrar contrato alguno en relación con tales operaciones
        </p>
        <p><span class="cine"></span> de Perú, S.A. de C.V., sus empresas subsidiarias, filiales o asociadas, se reservan el derecho de modificar la información aquí contenida cuando lo estime conveniente y sin previo aviso, pudiendo incluso limitar o no
            permitir el acceso a dicha información.</p>
        <p><span class="cine"></span> de Perú, S.A. de C.V., sus empresas subsidiarias, filiales o asociadas, no se responsabilizan por daños o perjuicios derivados del acceso, uso o mala utilización de los contenidos de este sitio.
        </p>
        <p><span class="cine"></span> de Perú, S.A. de C.V., sus empresas subsidiarias, filiales o asociadas, no se responsabilizan de las posibles discrepancias que puedan surgir entre la versión de sus documentos impresos y la versión electrónica de los
            mismos publicados en este sitio.</p>
        <p><span class="cine"></span> de Perú, S.A. de C.V. , sus empresas subsidiarias, filiales o asociadas, no asumen responsabilidad alguna que derive del intercambio de información electrónica entre usuarios de la red Internet y no adquiere ninguna
            responsabilidad por causa de problemas técnicos que se pudieran producir en equipos informáticos que se utilicen durante la conexión a la red Internet, ya sea a través del presente portal o de otras páginas webs.
        </p>
        <p>Las operaciones que pueden realizarse a través del portal de <span class="cine"></span> de Perú, S.A. de C.V. y/o sus empresas subsidiarias o afiliadas se regirán por los términos y condiciones establecidos por la legislación mercantil y por la
            Ley Federal de Protección al Consumidor, vigentes en la República Peruana.
        </p>
        <p>Cualquier controversia que se derive de la aplicación de las mismas se ventilará ante los tribunales y las autoridades de la ciudad de Lima, renunciando las partes expresamente a cualquier otra jurisdicción que les pudiera corresponder por razón
            de su domicilio presente o futuro o por cualquier otra causa.</p>
    </div>

</div>

 <footer class="container content_footer ">

        <div class="row">
            <h2 class="text_title-footer">CONTACTOS:</h2>
            <h6 class="text_subtitle-footer">Tel:01-999-999-99</h6>
            <h6 class="text_subtitle-footer">cel: 999-999-99</h6>

            <a href="https://www.facebook.com/ "><img src="{% static 'img/iconos/facebook.png'%} " alt="f " class="img_responsive-social "></a>
            <a href="https://www.twitter.com/ "><img src="{% static 'img/iconos/twitter.png'%} " alt="t " class="img_responsive-social "></a>
            <a href="https://www.whatsapp.com/ "><img src="{% static 'img/iconos/whatsapp.png'%} " alt="w " class="img_responsive-social "></a>
            <a href="https://www.google.com/ "><img src="{% static 'img/iconos/google.png'%} " alt="g " class="img_responsive-social "></a>

        </div>

        <div class="row">
            <h2 class="text_title-footer">LEGAL:</h2>
            <button class="btn_none-texto btn-secc" value="1">Libro de reclamaciones</a>
            <button class="btn_none-texto btn-secc" value="2">Politica de la corporacion</button>
            <button class="btn_none-texto btn-secc" value="3">Terminos y condiciones</a>
        </div>
        <div class="row">
            <h2 class="text_title-footer">OTROS SERVICIOS:</h2>
            <button class="btn_none-texto btn-secc" value="4">Trabaja con nosotros</button>
            <br>
            <img src="{% static 'img/iconos/logo_box_header.svg' %} " alt="LOGO " class="Logo-footer ">
        </div>
    </footer>

    <!-- Fin de pie de pagina-->
    <script src="{% static 'script/script.js'%} "></script>
    <script src="{% static 'script/info.js' %} "></script>
    
</body>

</html>
