        @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
    /*Politicas de la empresa*/
    /*Comienzo de las Ventanas emergentes*/
    
    * {
        margin: 0;
        padding: 0;
    }
    
    button {
        background: none;
        border: none;
        outline: none;
    }
    
    .fondo,
    .contentVentanaE {
        width: 100%;
    }
    
    .contentVentanaE {
        position: fixed;
        visibility: hidden;
        top: 0;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3000;
    }
    
    .fondo {
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.425);
        z-index: -1;
    }
    
    #salir {
        position: absolute;
        top: 4%;
        right: 4%;
        color: red;
        background: white;
        width: 25px;
        height: 25px;
        font-size: 20px;
        border-radius: 10px;
        z-index: 10;
    }
    
    #salir:active {
        background: black;
        color: white;
    }
    
    .politica,
    .Termino-condiciones,
    .libro_r {
        position: absolute;
        overflow-y: scroll;
        width: 90%;
        height: 90%;
        background: rgb(255, 0, 0);
        border-radius: 10px;
    }
    
    .libro_r {
        background: url(../img/fondos/2021012512111269812.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .politica::-webkit-scrollbar,
    .Termino-condiciones::-webkit-scrollbar,
    .libro_r::-webkit-scrollbar {
        width: 10px;
    }
    
    .politica::-webkit-scrollbar-thumb,
    .Termino-condiciones::-webkit-scrollbar-thumb,
    .libro_r::-webkit-scrollbar-thumb {
        background: rgb(255, 3, 3);
        border-radius: 10px;
    }
    
    .title_pop {
        color: rgb(255, 255, 255);
        font-size: 25px;
        text-align: center;
        margin: 20px 0px;
    }
    
    .form_submit {
        margin-left: 10px;
    }
    
    .subtitulo-center,
    .subtitulo_pop {
        color: rgb(255, 255, 255);
        margin-top: 10px;
    }
    
    .subtext_center,
    .subtitulo-center {
        margin: 10px 0px;
        text-align: center;
    }
    
    .subtext_center,
    .subtext {
        font-size: 10px;
        color: rgb(255, 255, 255);
    }
    
    .subtext-medium {
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    
    .check {
        margin: 5px 0px;
    }
    
    .medida_in {
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        margin: 5px 0px;
        width: 80%;
        height: 30px;
    }
    
    .medida_in::placeholder {
        color: rgba(255, 255, 255, 0.836);
    }
    
    .medida_in:focus::placeholder {
        position: absolute;
        top: -3px;
        color: black;
        font-size: 10px;
    }
    
    .Documento {
        outline: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
        width: 90%;
        height: 30px;
    }
    
    .anuncio {
        width: 90%;
        height: 100px;
    }
    
    .texture_bt_file {
        width: 90%;
        margin-top: 10px;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    
    .enviar {
        background: blue;
        width: 30%;
        height: 30px;
        border-radius: 5px;
        color: white;
        margin-bottom: 10px;
    }
    
    .enviar:active {
        background: black;
    }
    
    @media screen and (min-width: 768px) {
        .politica,
        .Termino-condiciones,
        .libro_r {
            width: 80%;
            height: 90%;
        }
    }
